@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.heroSection .svg {
  animation: rotate 10s infinite linear; /* Adjust the duration as needed */
}

.heroSection {
    z-index: 0;
    position: relative;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    background-color: #000; /* Set background color to black */
    overflow: hidden;
  }
  
  .text {
    z-index: 1;
    color: #fff; /* Set text color to white or the desired color */
    position: absolute;
    text-align: left;
    padding-left: 50px;
    top: 50%;
    transform: translateY(-50%);
  }
  
  .svg {
    position: absolute;
    top: 30%;
    right: 0;
    padding-right: 150px;
    padding-left: 150px;
    transform: translateY(-50%);
  }
  