.introductionSection {
  z-index: 0;
  position: relative;
  width: 80%;
  margin: 0 auto 40px auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  text-align: left;
  background-color: #1b1b1b;
  color: #878787;
  overflow: hidden;
  border-radius: 40px;
  padding: 20px;
}
.onScreen {
  color: white;
  transition: color 1s ease; /* Add a transition for a smooth color change */
}
.leftSection {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  text-align: left;
}

.list {
  padding-left: 0;
}

.title {
  font-size: 3rem;
  font-weight: 300;
  margin-top: 0px;
  margin-bottom: 0px;
  word-wrap: break-word; /* Allow text to wrap */
}

.paragraph {
  font-size: 1.3rem;
  font-weight: 300;
  padding-right: 10px;
  padding-bottom: 20px;
  word-wrap: break-word; /* Allow text to wrap */
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-right: 20px;
}

/* IntroductionSection.module.css */

.listItem {
  font-size: 1.4rem; /* Reduce the font size to 2rem */
  font-weight: 200;
  margin-bottom: 1.5rem; /* Increase the margin for more spacing between boxes */
  position: relative;
  overflow: hidden;
  border-radius: 15px; /* Add rounded borders */
  border: 2px solid #878787; /* Add border with white color */
  padding: 10px; /* Add padding to the inside of list items */
}

.listItem::before {
  content: '';
  position: absolute;
  top: 0;
  width: 0;
  height: 100%;
  background-color: black;
  z-index: -1;
  transition: width 0.3s ease-out, left 1s ease-out;
  border-radius: 15px; /* Add rounded borders */
}

.listItem:hover::before {
  width: calc(100% + 30px);
  left: 0;
}


.introductionSection.active {
  background-color: #FFDB58;
  color: black;
  transition: background-color 0.5s ease, color 0.5s ease;
}

@media (min-width:1025px) {
  .introductionSection {
    z-index: 0;
    position: relative;
    width: 80%;
    margin: 0 auto 40px auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    text-align: left;
    background-color: #1b1b1b;
    color: #878787;
    overflow: hidden;
    border-radius: 40px;
    padding: 60px;
  }
  .onScreen {
    color: white;
    transition: color 1s ease; /* Add a transition for a smooth color change */
  }
  .leftSection {
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: left;
  }
  
  .rightSection {
    width: 50%;
  }
  
  .title {
    font-size: 6rem;
    font-weight: 300;
    margin-top: 0px;
    margin-bottom: 0px;
    word-wrap: break-word; /* Allow text to wrap */
  }
  
  .paragraph {
    font-size: 2.5rem;
    font-weight: 300;
    word-wrap: break-word; /* Allow text to wrap */
  }
  
  .content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-right: 20px;
  }
  
  /* IntroductionSection.module.css */
  
  .listItem {
    font-size: 1.7rem; /* Reduce the font size to 2rem */
    font-weight: 200;
    margin-bottom: 1.5rem; /* Increase the margin for more spacing between boxes */
    position: relative;
    overflow: hidden;
    border-radius: 15px; /* Add rounded borders */
    border: 2px solid #878787; /* Add border with white color */
    padding: 10px; /* Add padding to the inside of list items */
  }
  
  .listItem::before {
    content: '';
    position: absolute;
    top: 0;
    left: -30px;
    width: 0;
    height: 100%;
    background-color: black;
    z-index: -1;
    transition: width 0.3s ease-out, left 1s ease-out;
    border-radius: 15px; /* Add rounded borders */
  }
  
  .listItem:hover::before {
    width: calc(100% + 30px);
    left: 0;
  }
  
  
  .listItem:hover::before {
    width: calc(100% + 30px);
    left: 0;
  }
  
  
  .introductionSection.active {
    background-color: #FFDB58;
    color: black;
    transition: background-color 0.5s ease, color 0.5s ease;
  }

}