.introductionSection {
  z-index: 0;
  position: relative;
  height: 70vh;
  width: 80%;
  margin: 0 auto 40px auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  text-align: left;
  background-color: #1b1b1b;
  color: white;
  overflow: hidden;
  border-radius: 40px;
  padding: 60px;
}
.onScreen {
  color: yellow;
  transition: color 1s ease; /* Add a transition for a smooth color change */
}
.leftSection {
  width: 35%;
}

.rightSection {
  width: 50%;
  padding-top: 10%;
}

.title {
  font-size: 6rem;
  font-weight: 300;
  margin-bottom: 0;
  word-wrap: break-word; /* Allow text to wrap */
}

.paragraph {
  /* width: 70%; */
  font-size: 2.5rem;
  font-weight: 300;
  margin-bottom: 0;
  word-wrap: break-word; /* Allow text to wrap */
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-right: 20px;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
  flex-basis: 50%; /* Set initial size to 50% */
}

.listItem {
  font-size: 2.5rem;
  font-weight: 200;
  margin-bottom: 1rem;
  position: relative;
  overflow: hidden;
  border-radius: 0 15px 15px 0;
}

.introductionSection.active {
  background-color: #FFDB58;
  color: black;
  transition: background-color 0.5s ease, color 0.5s ease;
}

